{% extends 'base.html' %}
{% block title %}
Login page
{% endblock %}

{% block style %}
body
{
margin-left:20px;
background:#5d9ab2;
}
{% endblock %}

{% block body_content %}
{% comment %}
{{ user_form.as_table }}
{% endcomment %}

<a href='/register/{{username}}/change_password'><button type='button'>Change Password</button></a>
<tbody>
 <tr class="table_row">
    {% for field in user_form %}
      <td>
       <table>
        <tr><td>{{ field.label }}</td>
        <tr><td>{{ field }}</td></tr>
	<br/>
       </table>
      </td>
    {% endfor %}
   </form>
  </tr>
 </tbody>
{% endblock %}
