<div id="footer">
    <hr>
    <div class="container">
        <div class="row">
            <p class="pull-right">
            <a style="text-decoration:none" href="#">[<i class="fa fa-long-arrow-up"></i>] Back to top
            </a>
            </p><!-- pull-right-->
        </div> <!-- row-->
        <div class="row centered">
            <h1 style="color:#4B5F6D">Brought to you by</h1>
        </div><!--row-->
        <div class="row">
            <div class="col-lg-6">
                <a href="http://www.ayudh.eu" target="_blank"><img src="{{ STATIC_URL }}images/foss.jpg" width="120"/></a>
                <h2 style="color:#4B5F6D">FOSS @ Amrita</h2>
            </div><!--col-md-4-->
            <div class="col-lg-6">
                <a href="http://amrita.edu/" target="_blank"><img src="{{ STATIC_URL }}images/amrita_university.png" width="120"/></a>
                <h2 style="color:#4B5F6D">Amrita University</h2>
            </div><!--col-md-4-->
        </div><!--row-->
        <br>
        <div class="row text-center">
            <p>This website is powered by <a href="http://fortawesome.github.io/Font-Awesome" target="_blank">Font Awesome</a> 
            and <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a><br>
            &copy; 2009-2014 Free and Open Source Software club, Amritapuri</p>
        </div><!-- row -->
    </div> <!-- container-->
</div> <!-- footer-->
