# Created by http://www.gitignore.io

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
# Created by http://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### fuse ###
.fuse_*
