{% extends 'base.html' %}
{% block title %}
Speaker
{% endblock %}
{% block body_content %}

	{% if speaker_list %}
		<table style="width:1000px">
		<tr>
			<td><b>Student</b></td>
			<td><b>Type</b></td>
			<td><b>Title</b></td>
			<td><b>Conference</b></td>
			<td><b>URL</b></td>
			<td><b>Year</b></td>
		</tr>	
		</br>
		{% for s in speaker_list %}
			<tr>
				
				<td><a href="/register/{{s.username.username}}/profile">{{ s.username.firstname | title }}</a></td>
				<td>{{s.speaker_type}}</td>
				<td>{{s.title}}</td>
				<td>{{s.conference_name}}</td>
				<td>{{s.speaker_url}}</td>
				<td>{{s.year}}<?td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}

{% endblock %}

