<table style="width:1000px">
    <tr>
        <th>Student</th>
        <th>Bug id</th>
        <th>Url to the bug</th>
        <th>Organisation</th>
        <th>Bug description</th>
    </tr>
    </br>
    {% for c in contrib_list %}
    <tr>
        <td><a href="/register/profile/{{c.username.username}}/">{{ c.username.firstname |title }} {{c.username.lastname | title}}</a></td>
        <td>{{c.bug_id}}</td>
        <td>{{c.bug_url}}</td>
        <td>{{c.org_name}}</td>
        <td>{{c.bug_description}}</td>
        </tr>
    {% endfor %}
</table>

