{% if request.path == '/achievement/viewall/' %}
<h1 class="theme theme-2-h1">
    <i class="fa fa-graduation-cap"></i> Internships
</h1>
{% else %}
<h1 class="theme theme-1-h1">
    <i class="fa fa-graduation-cap"></i> Internships
</h1>
{% endif %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student</th>
            <th>Type</th>
            <th>Place</th>
            <th>Period</th>
            <th></th>
        </tr>	
    </thead>
    <tbody>
    {% for c in intern_list %}
    <tr>			
        <td>
            <a href="/register/{{c.username.username}}/profile" target="_blank">
                {{ c.username.firstname | title }} {{ c.username.lastname | title }}
            </a>
        </td>
        <td>{{ c.intern_type }}</td>
        <td>{{ c.place }}</td>
        <td>{{ c.period }}</td>			
        <td>
            {% if c.username.username == username %}
            <a href="/achievement/article/update/{{c.achievement_id.achievement_id}}/" target="_blank">
            Update
            </a>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
