{% extends 'base.html' %}
{% block title %}
ChangePassword
{% endblock %}

{% block body_content %}
	<h4>Change you password</h4>
        <form action ="" method ='POST'>
                {% csrf_token %}
                        {% if error %}
                        <ul>
                                {% for e in error %}
                                        <li>{{ e }}</li>
                                {% endfor %}
                        </ul>
                        {% endif %}
                        {{ form.as_table }}
        <input type='submit' value='Change Password'style="size:25px;">
        </form>
        </div>
        </div>

{% endblock %}
