{% extends 'static/base.html' %}
{% block title %}
My Page
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class="jumbo-header">
            <h1> {{ username }}</h1>
        </div><!--page-header-->
    </div><!--jumbotron-->
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a href="/register/profile/{{ username }}">
            <button type="button" class="btn btn-danger btn-block">View Full profile</button>
        </a>
    </div><!--col-md-4-->
    <div class="col-md-4"></div>
</div><!--container-->
{% endblock body %}
