{% extends 'static/base.html' %}
{% block title %}
Login page
{% endblock %}
{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img src="{{ STATIC_URL }}images/profile_image/{{ image_name }}" 
                    class="img-rounded img-thumbnail img-responsive"
                    alt="{{ image_name }}" height="107" width="107">
                <div class="caption centered">
                    <strong>{{ user_object.firstname | title }} 
                        {{ user_object.lastname | title }} </strong>
                </div><!--caption-->
            </div><!--thumbnail-->
        </div><!--col-sm-2-->
        <div class="col-sm-6">
            <table class="table table-hover table-bordered">
                <tr>
                    <td>
                        <strong>Email</strong> 
                    </td>
                    <td>
                        {{ user_email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Interests</strong>
                    </td>
                    <td>
                        {{ user_object.interest }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Achievements</strong>
                    </td>
                    <td>
                        {{ user_object.achieve }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Expertise</strong> 
                    </td>
                    <td>
                        {{ user_object.expertise }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Goal</strong>
                    </td>
                    <td>
                        {{ user_object.goal }}
                    </td>
                </tr>
            </table>
        </div><!--col-sm-6-->
        <div class="col-sm-4"></div>
    </div><!--row-->

    <!--CONTRIBUTIONS-->
    {% if contributions %}
    <div class="page-header">
        <h1><i class="fa fa-share-alt"></i> Contributions</h1>
    </div><!--page-header-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Organization</td>
                <td>Ticket</td>
                <td>URL</td>
                <td>Description</td>
            </tr>
        </thead>
	    {% for c in contributions %}
        <tbody>
            <tr>
                <td>{{ c.org_name }}</td>
                <td>{{ c.bug_id }}</td>
                <td>
                    <a href="{{ c.bug_url }}" target="_blank">
                        {{ c.bug_url }}
                    </a>
                </td>
	            <td>{{ c.bug_description }}</td>
            </tr>
        </tbody>
	    {% endfor %}
    </table>
    {% endif %}

    <!--SPEAKERS-->
    {% if speakers %}
    <div class="page-header">
        <h1><i class="fa fa-bullhorn"></i> Speaker</h1>
    </div><!--page-header-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Conference</td>
                <td>Type</td>
                <td>URL</td>
            </tr>
        </thead>
        {% for s in speakers %}
        <tbody>
            <tr>
                <td>
                    {{ s.conference_name | title }}, {{s.year}} 
                </td>
                <td>{{ s.speaker_type }}</td>
                <td>{{ s.title }} </td>
                <td>
                    <a href="{{ s.speaker_url }}" target="_blank">
                        {{ s.speaker_url }}
                    </a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}

    <!--ARTICLES-->
    {% if articles %}
    <div class="page-header">
        <h1><i class="fa fa-file-text"></i> Articles Published</h1>
    </div><!--page-header-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Magazine</td>
                <td>Title</td>
                <td>Area</td>
                <td>Publication date</td>
            </tr>
        </thead>
        {% for a in articles %}
        <tbody>
            <tr>
                <td>{{ a.magazine_name }}</td>
                <td>{{ a.title }}</td>
                <td>{{ a.area }}</td>
                <td>{{ a.publication_date }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}

    <!--GSOC-->
    {% if gsoc %}
    <div class="page-header">
        <h1><i class="fa fa-google-plus"></i> Google Summer Of Code</h1>
    </div><!--page-header-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Organization</td>
                <td>Project</td>
                <td>URL</td>
                <td>Mentor</td>
            </tr>
        </thead>
	    {% for g in gsoc %}
        <tbody>
            <tr>
                <td>{{ g.organisation }}</td>
                <td>{{ g.project_title }}</td>
                <td>
                    <a href="{{ g.gsoc_url }}" target="_blank">
                        {{ g.gsoc_url }}
                    </a>
                </td>
                <td>{{ g.mentor_name }}</td>
            </tr>
        </tbody>
	    {% endfor %}	
    </table>
    {% endif %}

    <!--INTERNSHIPS-->
    {% if interns %}
    <div class="page-header">
        <h1>Internships</h1>
    </div><!--page-header-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Organization</td>
                <td>Project</td>
                <td>URL</td>
                <td>Mentor</td>
            </tr>
        </thead>
	    {% for internship in interns %}
        <tbody>
            <tr>
	            <td>{{ internship.intern_type | title }}</td>
                <td>{{ internship.place }}</td>
                <td>{{ internship.period }}</td>
            </tr>
        </tbody>
	    {% endfor %}	
    </table>
    {% endif %}
</div><!--container-->
{% endblock body %}
