{% extends 'static/base.html' %}
{% block title %}
Login page
{% endblock %}
{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img src="{{ STATIC_URL }}images/profile_image/{{ image_name }}" 
                    class="img-rounded img-thumbnail img-responsive"
                    alt="{{ image_name }}" height="107" width="107">
                <div class="caption centered">
                    <strong>{{ user_object.firstname | title }} 
                        {{ user_object.lastname | title }} </strong>
                </div><!--caption-->
            </div><!--thumbnail-->
        </div><!--col-sm-2-->
        <div class="col-sm-6">
            <table class="table table-hover table-bordered">
                <tr>
                    <td>
                        <strong>Email</strong> 
                    </td>
                    <td>
                        {{ user_email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Interests</strong>
                    </td>
                    <td>
                        {{ user_object.interest }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Achievements</strong>
                    </td>
                    <td>
                        {{ user_object.achieve }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Expertise</strong> 
                    </td>
                    <td>
                        {{ user_object.expertise }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Goal</strong>
                    </td>
                    <td>
                        {{ user_object.goal }}
                    </td>
                </tr>
            </table>
        </div><!--col-sm-6-->
        <div class="col-sm-4"></div>
    </div><!--row-->

    {% if contributions %}
        <hr>
        <em><b>Contributions</b></em><br>
	{% for c in contributions %}
		Organisation: {{ c.org_name }} <br>
		Ticket: {{ c.bug_id }}, <a href={{ c.bug_url }}>{{c.bug_url}}</a><br>
		{{ c.bug_description }}
	{% endfor %}
    {% endif %}
    {% if speakers %}
        <hr>
        <em><b>Speaker</b></em> </br>
        {% for s in speakers %}
            Conference: {{ s.conference_name | title }} , {{s.year}} </br>
            Type: {{s.speaker_type}} </br>
            Title: {{ s.title }} </br>
            URL: {{s.speaker_url}} </br>
            </br>
        {% endfor %}
    {% endif %}
    {% if articles %}
        <hr>
        <em><b>Articles Published</b></em> <br>
            {% for a in articles %}
                Magazine: {{ a.magazine_name}} <br>
                Title: {{a.title}} <br>
                Area: {{a.area}} <br>
               	Publication date: {{ a.publication_date}} <br>
            {% endfor %}
    {% endif %}
    {% if gsoc %}
        <hr>
        <em><b>Gsoc</b></em><br>
	{% for g in gsoc %}
		Organisation: {{ g.organisation }}<br>
        	Project: {{ g.project_title }}<br>
		URL: <a href={{ g.gsoc_url }}>{{ g.gsoc_url }}</a><br>
        	Mentor: {{ g.mentor_name }}<br>
	{% endfor %}	
    {% endif %}
    {% if interns %}
        <hr>
        <em><b>Internships</b></em><br>
	{% for internship in interns %}
		{{ internship.intern_type | title }} at {{internship.place}} for {{internship.period }}<br>
	{% endfor %}
    {% endif %}
    <hr>
</div>
{% endblock body %}

