<html>
<head>
	<title>
		{% block title %}{% endblock %}
	</title>
        <style>
                {% block style %}{% endblock %}
        </style>

</head>

<body>
<div>

{% load staticfiles %}
<a href="/"><img src="{% static 'images/fosslogo.jpg' %}" alt="FOSS Logo"/></a>
</br>
<a href="/information"><button type="button">Information Corner</button></a>
{% if not is_loggedin %}
<a href="/register/login"><button type="button">Login</button></a>
{% else %}
<a href="/register/{{username}}/mypage"><button type="button">My Page</button></a>
<a href="/register/logout"><button type="button">Logout</button></a>
{% endif %}
<form action="/search/">
  {% csrf_token %}
  <input type="text" name="search_field" placeholder="Search for a foss member">
  <input type="submit" value="Search">
</form>  
</div>

{% block body_content %} {% endblock %}
{% include 'footer.html' %}

</body>
</html>

