<html>
<head>
	<title>
		{% block title %}{% endblock %}
	</title>
        <style>
                {% block style %}{% endblock %}
        </style>

</head>

<body>
<div>
{% comment %}
{% load staticfiles %}
<img src="{% static 'images/fosslogo.jpg' %}" alt="FOSS Logo"/>
{% endcomment %}
<a href="/achievement/"><button type="button">Achievement</button></a>
<a href="/project/"><button type="button">Projects</button></a>
<a href="/alert/"><button type="button">Alerts</button></a>
<a href="/apply/"><button type="button">Apply</button></a>
{% if not is_loggedin %}
<a href="/register/login"><button type="button">Login</button></a>
{% else %}
<a href="/register/{{username}}/mypages"><button type="button">My Pages</button></a>
<a href="/register/logout"><button type="button">Logout</button></a>
{% endif %}
<form action="/search/">
  {% csrf_token %}
  <input type="text" name="search_field" placeholder="Search for a foss member">
  <input type="submit" value="Search">
</form>  
</div>

{% block body_content %} {% endblock %}
{% include 'footer.html' %}

</body>
</html>

