{% extends 'base.html' %}
{% block title %}
FOSS@amrita
{% endblock %}
{% block body_content %}
<div>

<h2>Welcome to FOSS@amrita</h2>
<p>FOSS is a term inclusive of free software and open source software. It is an approach, that is now gaining more recognition due to its potential benefits, in addition to providing an ideal platform for learning. With liberally licensed software that allows users to study, copy, and modify code students can enhance their learning in the vast and multiplying fields of computer science.
</p>
<p>
FOSS@Amrita is a student community at Amrita University. Being one of the most active student communities in the campus, we encourage, support and mentor students to improve their technical and social skills through contributing to open source.

We aim at encouraging students to embrace the free and open source approach that is fast gaining momentum. We’re a community of students that support and guide each other towards making open source contributions, and towards the usage of free software.</p>

</div>
{% endblock %}

