{% extends 'base.html' %}
{% block title %}
Information Corner
{% endblock %}
{% block body_content %}
<div>
<h2>Information Corner</h2>
</div>
<div>
<a href="/information/achievement/"><button type="button">Achievement</button></a>
<a href="/information/project/"><button type="button">Projects</button></a>
<a href="/information/alert/"><button type="button">Alerts</button></a>
<a href="/information/apply/"><button type="button">Apply</button></a>
</div>
<div>
{% if information %}
{% comment %}
<h4>{{info_type}}</h4>
	{{ data.as_table }}
{% endcomment %}
</br>
{% if info_type == 'achievement' %}
	<a href = "/contribution/viewall"><button type="button">Contribution</button></a>
        <a href = "/article/viewall"><button type="button">Article</button></a>
        <a href = "/gsoc/viewall"><button type="button">GSoC</button></a>
        <a href = "/intern/viewall"><button type="button">Internship</button></a>
        <a href = "/speaker/viewall"><button type="button">Speaker</button></a>
        <a href = "/acm/viewall"><button type="button">ACM-ICPC</button></a>
        <a href = "/contest/viewall"><button type="button">Contest</button></a>


{% endif %}
{% endif %}
</div>
{% endblock %}
